:root {
    --font-outfit: "Outfit", serif;
    --fs-72: 72px;
    --fs-48: 48px;
    --fs-24: 24px;
    --fs-20: 20px;
    --fs-16: 16px;
    --lh-20: 20.16px;
    --lh-25: 25.2px;
    --lh-28: 28.8px;
    --lh-30: 30px;
    --lh-57: 57.6px;
    --lh-86: 86.4px;
    --opacity-70: 70%;
    --opacity-80: 80%;
    --bg-color-ninja: #01000B;
    --color-boyzone: #2E95D9;
    --color-white: white;
}

.font-outfit {
    font-family: var(--font-outfit);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-72 {
    font-size: var(--fs-72);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-25 {
    line-height: var(--lh-25);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-57 {
    line-height: var(--lh-57);
}

.lh-86 {
    line-height: var(--lh-86);
}

.opacity-70 {
    opacity: var(--opacity-70);
}

.opacity-80 {
    opacity: var(--opacity-80);
}

.bg-color {
    background-color: var(--bg-color-ninja);
}