@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(root.css);



.bg-img {
    background-image: url(../images/header-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 250px !important;
    background-position: bottom;
    z-index: 1 !important;
}

.bg-color {
    background-color: #01000B;
}

.image {
    position: absolute;
    top: 10% !important;
    left: -100% !important;
}

.planet-img {
    position: absolute;
    top: 70% !important;
    left: 0;
    z-index: -3 !important;
}

.slick-active {
    display: none;
}

.slick-dots {
    display: none !important;
}

.get-started-btn,
.get-started-btn-1 {
    width: 172px;
    height: 52px;
    border-radius: 57px;
    box-shadow: 0px 0px 12px 0px #BF97FF3D inset;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    color: white;
    margin-top: 7px;
}

.get-started-btn:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}

.up:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}
.navbar-link:hover{
    color: #2E95D9 !important;
}

/******* width property *******/

.w-50px {
    width: 50px;
}

.w-146 {
    width: 146px !important;
}

.w-187 {
    max-width: 187px !important;
}

.w-196 {
    width: 196px !important;
}

.max-w-705 {
    max-width: 705px !important;
}

.max-w-316 {
    max-width: 316px !important;
}

/**** margin & padding property ****/
.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-18 {
    margin-top: 18px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-47 {
    margin-top: 47px !important;
}

.mt-61 {
    margin-top: 61px !important;
}

.mt-164 {
    margin-top: 164px !important;
}

.mt-175 {
    margin-top: 175px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mt-175 {
    margin-top: 175px;
}

.mt-56 {
    margin-top: 56px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-175 {
    margin-top: 175px;
}

.pt-156 {
    padding-top: 156px;
}

.pl-8 {
    padding-left: 8px;
}

.pt-14 {
    padding-top: 14px !important;
}

/******* gap property *******/
.gap-24 {
    gap: 24px;
}

.gap-12 {
    gap: 12px;
}

.btn-2 {
    width: 230px;
    height: 64px;
    z-index: 5 !important;
    padding: 13px 32px 13px 32px;
    border-radius: 57px;
    box-shadow: 0px 0px 12px 0px #BF97FF3D inset;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    color: white;
    border: none;
}

.btn-2:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--null);
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: white;
}

.z-5 {
    z-index: 5;
}

.rotate40 {
    transform: rotate(42deg);
}

.rotate-45 {
    transform: rotate(-43deg);
}

.alien-image {
    animation: float 3s ease-in-out infinite;
}

.card-1 {
    position: relative;
    max-width: 365px !important;
    height: 114px;
}

.card-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) !important;
    padding-right: 1px !important;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.card-2 {
    position: relative;
    max-width: 365px !important;
    height: 114px;
}

.card-2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) !important;
    padding-right: 1px !important;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.card-3 {
    max-width: 365px !important;
    height: 114px;
}

.slider-heading {
    line-height: 57.6px;
}


.slider-box {
    background: linear-gradient(180deg, rgba(59, 40, 246, 0.22) 0%, rgba(59, 40, 246, 0) 100%);
    border-radius: 24px;
    padding: 24px 24px 0.01px 24px;
}

div.slick-track {
    gap: 24px !important;
    display: flex;
    padding-top: 40px;
}

.slick-dots li button:before {
    color: #FFFFFF !important;
}


/******* section-2 *******/

.accordion {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.overflow {
    overflow-y: hidden;
}

.accordion-item {
    border: 1px solid #FFFFFF1A;
}

.accordion-button::after {
    background-image: url(../images/svg/arrow-svg.svg) !important;
    padding-left: 20px !important;
    width: 20px !important;
}

.accordion {
    max-width: 1022px;
    padding: 24px;
    --bs-accordion-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
}

.accordion-item {
    background-color: #01000B !important;
    border: 1px solid #FFFFFF1A !important;
    border-radius: 12px !important;
    position: relative;
}

.accordion-button {
    background-color: #01000B !important;
}

.accordion-button::after {
    width: 20px !important;
    background-image: url(../images/svg/arrow-svg.svg) !important;
}

.accordion-header .accordion-button {
    border-radius: 12px !important;
}

.accordion-item::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 12px !important;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.accordion-button:not(.collapsed) {
    position: relative;
}

.accordion-button:not(.collapsed)::before {
    content: "";
    position: absolute;
    inset: 0;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

/******* footer *******/

.circle {
    width: 40px;
    height: 40px;
    gap: 0px;
    border-radius: 100px;
    padding: 6px 10px 10px 10px;
    background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
}

.gmail:hover {
    color: #393EF5 !important;
}

.about-us:hover {
    color: #393EF5 !important;
}

.circle:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}

.line {
    position: relative;
    margin-top: 60px;
}

.line::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 47%, rgba(255, 255, 255, 0) 100%);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width:767.98px) {
    .head-2 {
        font-size: 25px;
    }

    .para-3 {
        font-size: 20px;
    }

    .parent {
        text-align: center;
    }

    .pt-156 {
        padding-top: 0;
    }

    .pt-356 {
        padding-top: 0px;
    }

    .card-1::before,
    .card-2::before {
        display: none !important;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .planet-img {
        width: 100%;
    }
}

@media (max-width:575.98px) {
    .head-2 {
        font-size: 18px;
    }

    .para-3 {
        font-size: 15px;
    }
}

@media (min-width:992px) {
    .get-started-btn-1 {
        display: none;
    }

    .planet-img {
        position: absolute;
        top: 200px !important;
    }
}

@media (max-width:576px) {
    .heading {
        font-size: 48px !important;
        line-height: normal !important;
    }
}


@media (max-width:991.98px) {
    .faq {
        padding-left: 45px;
    }

    .get-started-btn {
        display: none;
    }

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: black !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }
}